[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
mypy = "*"
pyfiglet = "*"
typer = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
